h2{
    font-family: 'Vidaloka', serif;
    font-size: 50px;
    color: #555e;
    margin-bottom: 30px;
}
.profil{
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 30px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 2em;
    border-radius: 5px;
    width: 333px;
    height: 480px;
    position:sticky;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profil > *
{
    margin-bottom: 4px;
}

.profil-img-container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.profil-img, #upload-img
{
    width:150px;
    height: 150px;
    object-fit: cover;
    border-radius:50%;
    grid-row: 1/2;
    grid-column: 1/2;
}
#upload-img { display: none; }
.profil-img:hover ~ #upload-img
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#upload-img:hover
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.4);
}
#upload-img form
{
    position: relative;
    top: 20px;
}
#upload-img input[type="submit"]
{
    background: none;
    color: #fffd;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff5;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer
}

label[for="file_upload"]
{
    width: 100%;
    font-size: 39px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file_upload { display: none; }



.profil-name{
    font-weight: bold ;
    font-size:1.5em;
    font-family: 'Lobster', cursive;
    font-style: italic;
}

.plant input.plant_id
{
display: none;
}

.num{
    font-size: 1.3em;
}

.mail{
    font-size:20px;
    margin-top: 50px;
}

/* Styling plants divs */
.my-plants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

 
.plant{
  border-radius: 5px;
  margin-bottom: 40px;
  justify-self: center;
  /*border: 2px solid #3332;*/
  background-color:#3A9943 ;
  /*font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 82%;
  height: 390px;
 /* box-shadow: 5px 5px 20px #4447 */
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.plant img{
    width: 100%;
    height: 245px;
    border: 1px solid #4442;
    border-radius: 5px;
    min-height: 210px;
    /* object-fit: initial; */
}
.plants-parent {
    width: 71%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    align-content: space-between;

}


.plant > *
{
    text-align: center;
    margin-bottom: 15px;
}

a:active{
    box-shadow: 0 1px 0 #e6e3da , 0 1px 3px#e6e3da ;
}

label.id_label
{
    color:seashell;
    cursor: pointer;
}
.id_label:hover
{
    color: rgb(247, 227, 188);
}

.labeled_submit
{
display: none;
}


input:disabled
{
    display: none;
}


.btn{
  /*background-color: #3A9943;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;*/
  border-radius: 38px;
  padding: 5px;
  height:60px;
  width: 140px;
  font-weight: bold;
  cursor: pointer;
  background-color: seashell;
  box-shadow: 0 9px 0 #e6e3da , 0 9px 19px#e6e3da ;
  color: black;
}

.btn:hover{
    color: white;
    background-color: rgb(182, 46, 21);
    box-shadow: 0 5px 0 rgb(182, 46, 21) , 0 5px 15px rgb(182, 46, 21) ;
}

.plant a
{
    /* color: #0029; */
    color:seashell ;
}
.plant a:hover
{
    color: rgb(247, 227, 188);
}

.to_admin_panel
{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 25px;
    margin: 5px;
}
.to_admin_panel a
{
    color: #187721;  
}
.to_admin_panel a:hover
{
    color: #298832;
}

#no-result
{
  width: 100%;
  font-size: 30px;
  color: #999;
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
  text-align: center;
}