.top{
    background-color: rgba(225, 225,225.9);
    width:100%;
    height: 30%;
    margin-bottom: 20px;
}
.profil-img{
    width:150px;
    height: 150px;
    object-fit: cover;
    border-radius:50% ;
    margin:0 AUTO 20PX AUTO;
}
h6{
    display: inline;
    margin-right: 10px;

}
.profil{
    font-family: sans-serif;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 1.5em;
    font-style: color rgb(255, 253, 253);
    border-radius: 20px;
    max-height: 700px;
    
}


.profil-name{
    margin-bottom:10px;
}
.m{
    float:center;
    margin-left:200px;
    display: flex;
    display: block;
    
}




span{
    margin-right: 40px;
    margin-left: 10px;
}

